@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* .projects_img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}
.projects_img img {
  object-fit: cover;
  width: 100%;
  transform: translateY(0);
  transition: 3s ease-out;
  border-radius: 1rem;
} */
.projects_img:hover img {
  object-fit: cover;
  transform: translateY(calc(-100% + 400px));
  transition: 5s ease-out;
}

.icon {
  @apply bg-white  text-gray-700 w-14 h-14 hover:text-gray-950 flex items-center justify-center  gap-2 rounded-full focus:scale-[1.15] hover:scale-[1.15] active:scale-105 transition cursor-pointer borderBlack dark:bg-white/10 dark:text-white;
}
